<H2><%= current_user.fullname %></H2>

<p> <%= link_to "Castings", castings_path %> </p>

<p>Foro</p>

<p>Oportunidades</p>


<%#= Thredded::ApplicationController.render partial: 'thredded/users/posts', locals: {
      posts: Thredded.posts_page_view(scope: User.thredded_posts.order_newest_first.limit(5),
                                      current_user: current_user) } %>
